<h3>CheckedListBoxRenderer</h3>

@using Microsoft.AspNetCore.Components.Web
@using CheckedList.Module

<DxListBox Data="@ComponentModel.DataSource"
           TextFieldName="@nameof(Detail.DetailName)"
           SelectionMode="ListBoxSelectionMode.Multiple"
           ShowCheckboxes="true"
           @bind-Values="@ComponentModel.Values"
           @attributes=@ComponentModel.Attributes>

</DxListBox>
@code {
    [Parameter]
    public CheckedListBoxModel ComponentModel { get; set; }
    public static RenderFragment Create(CheckedListBoxModel componentModel) =>
        @<CheckedListBoxRenderer ComponentModel=@componentModel />;

}
